{% set features = [
  {
    title: 'Build your site!',
    text: 'The flexibility and creative control to design your pages exactly as you envision them',
    icon: 'bi-battery-charging'
  },
  {
    title: 'style variations',
    text: 'Multiple style variations to give a completely different look wnd feel to your site',
    icon: 'bi-lightning-charge'
  },
  {
    title: 'Grow smart',
    text: 'Optimize your presence with built-in analytics and SEO tools',
    icon: 'bi-graph-up-arrow'
  }
] %}
<div class="container-fluid px-0 py-5 bg-light">
  <div class="container">
    <div class="row">
      {% for feature in features %}
        <div class="col-sm-4">
          <div class="card bg-transparent border-0 text-center text-lg-start align-items-center align-items-lg-start">
            <h1 class="bg-primary rounded-circle text-center text-white"
                style="font-size: 5em; width: 100px; height: 100px;">
              <i class="bi {{ feature.icon }}"></i>
            </h1>
            <div class="card-body">
              <h5 class="card-title">{{ feature.title }}</h5>
              <p class="card-text">{{ feature.text }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div