<div class="container-fluid px-0 py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card bg-transparent border-0 text-center  text-lg-start align-items-center align-items-lg-start">
                    <h1 class="bg-primary rounded-circle text-center text-white " style="font-size: 5em; width: 100px; height: 100px;">
                        <i class="bi bi-battery-charging"></i>
                    </h1>
                    <div class="card-body">
                        <h5 class="card-title">Build your site</h5>
                        <p class="card-text">
                            The flexibility and creative control to design your pages exactly as you envision them
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 bg-light">
                <div class="card bg-transparent border-0 text-center text-lg-start  align-items-center align-items-lg-start">
                    <h1 class="bg-primary rounded-circle text-center text-white " style="font-size: 5em; width: 100px; height: 100px;">
                        <i class="bi bi-battery-charging"></i>
                    </h1>
                    <div class="card-body">
                        <h5 class="card-title">Build your site</h5>
                        <p class="card-text">
                            The flexibility and creative control to design your pages exactly as you envision them
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-sm-4 bg-light">
                <div class="card bg-transparent border-0 text-center text-lg-start  align-items-center align-items-lg-start">
                    <h1 class="bg-primary rounded-circle text-center text-white" style="font-size: 5em; width: 100px; height: 100px;">
                        <i class="bi bi-battery-charging"></i>
                    </h1>
                    <div class="card-body">
                        <h5 class="card-title">Build your site</h5>
                        <p class="card-text">
                            The flexibility and creative control to design your pages exactly as you envision them
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>