<div class="container-fluid px-0 py-5 bg-black text-white">
    <div class="mx-auto w-50 text-center" style="padding-top: 10vh; padding-bottom: 10vh">
        <h2>Let's work together on your
            <br>next project</h2>
            <h5>
                Build a website for your business or brand, with Neve FSE
            </h5>
            <button class="btn btn-primary btn-lg my-2">Learn more</button>
        </div>
        <div class="mx-auto  text-center text-white " style="padding-bottom: 5vh;">
            <a href="#">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="#">
                <i class="bi bi-twitter-x"></i>
            </a>
            <a href="#">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
        <footer class="mx-auto w-50 text-center ">
            <small>Copyright 2023 – Neve FSE theme</small>
        </footer>
    </div>