<div class="container-fluid py-5">
        <div class="row">
          <div class="col-sm-4 offset-sm-2">
            <img class="img-fluid" src="https://picsum.photos/seed/image1/600/400" alt="">
          </div>
          <div class="col-sm-4 d-flex flex-wrap align-items-center">
            <div class="card-body bg-transparent border-0">
              <div class="card-body">
                <h1 class="card-title">lean and simple designs</h1>
                <p class="card-text fs-5">lorem ipsum dolor sit jajajajajaj jajaja ajjaja ajaja</p>
                <button class="btn btn primary btn-lg">Learn more</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>