 <div class="container-fluid py-5 bg-black">
      <div class="row">
        <div class="col-sm-4 offset-sm-2">
          <img class="img-fluid" src="https://picsum.photos/seed/image5/600/400" alt="">
        </div>
        <div class="col-sm-4 d-flex flex-wrap align-items-center">
          <div class="card-body bg-transparent border-0 text-white">
            <div class="card-body">
              <h1 class="card-title">lean and simple designs</h1>
              <p class="card-text fs-5 ">lorem ipsum dolor sit jajajajajaj jajaja ajjaja ajaja</p>
              <button class="btn btn primary btn-lg bg-light">Learn more</button>
              <button class="btn btn-outline-light btn-lg">Contact us</button>
            </div>
          </div>
        </div>
      </div>
    </div>