{% set testimonials = [
  {
    name: 'Karmp',
    text: 'The flexibility and creative control to design your pages exactly as you envision them',
    image: 'https://thispersondoesnotexist.com?=1'
  },
  {
    name: 'Peeter Meeter',
    text: 'The flexibility and creative control to design your pages exactly as you envision them',
    image: 'https://thispersondoesnotexist.com?=3'
  },
  {
    name: 'John Doe',
    text: 'The flexibility and creative control to design your pages exactly as you envision them',
    image: 'https://thispersondoesnotexist.com?=2'
  }
] %}

<div class="container-fluid px-0 py-5 bg-primary text-white">
  <div class="container">
    <div class="row">
      {% for testimonial in testimonials %}
        <div class="col-sm-4">
          <div class="card bg-transparent border-0 text-center text-lg-start align-items-center align-items-lg-start">
            <img
              class="img-fluid rounded-circle"
              style="width: 100px; height: 100px;"
              src="{{ testimonial.image }}"
              alt="testimonial image"
            >
            <div class="card-body text-white">
              <p class="card-text">
                "{{ testimonial.text }}"
              </p>
              <h5 class="card-title bold text-uppercase">{{ testimonial.name }}</h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
