<div class="container-fluid px-0 py-5 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card bg-transparent border-0 text-center  text-lg-start align-items-center align-items-lg-start">
                    <img
                        class="img-fluid rounded-circle"
                        style=" width: 100px; height: 100px;"
                        src="https://thispersondoesnotexist.com?=1"
                        alt="">
                        <div class="card-body text-white">
                            <p class="card-text">
                                ''The flexibility and creative control to design your pages exactly as you envision them''
                            </p>
                            <h5 class="card-title bold text-uppercase">Karmp</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="card bg-transparent border-0 text-center text-lg-start  align-items-center align-items-lg-start">
                        <img
                            class="img-fluid rounded-circle"
                            style=" width: 100px; height: 100px;"
                            src="https://thispersondoesnotexist.com?=3"
                            alt="">
                            <div class="card-body text-white">
                                <p class="card-text">
                                    ''The flexibility and creative control to design your pages exactly as you envision them''
                                </p>
                                <h5 class="card-title bold text-uppercase">Peeter Meeter</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-4 ">
                        <div class="card bg-transparent border-0 text-center text-lg-start  align-items-center align-items-lg-start">
                            <img
                                class="img-fluid rounded-circle"
                                style=" width: 100px; height: 100px;"
                                src="https://thispersondoesnotexist.com?=2"
                                alt="">
                                <div class="card-body text-white">
                                    <p class="card-text">
                                        ''The flexibility and creative control to design your pages exactly as you envision them''
                                    </p>
                                    <h5 class="card-title bold text-uppercase">jhon Doe</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>