 {% extends 'src/partials/layout.njk' %}
    
    {%block content%}

    <div class="container">
      <h1>Patterns</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, atque!
      Ipsum nobis modi nulla unde sapiente eos architecto omnis reiciendis.
      Placeat, itaque nesciunt fuga amet repudiandae porro sint perferendis quod.
      Et veritatis repellendus quam doloremque quaerat atque rem fuga nisi!
      Corporis deleniti veniam delectus eius. Dolorum cupiditate asperiores amet necessitatibus!
      Esse, explicabo placeat animi atque ratione saepe autem asperiores fugit?
      Accusantium tempore voluptatem assumenda vitae provident vero placeat doloremque eius?
      Tenetur ipsum recusandae error dolores molestiae omnis quo ratione libero?
      Tenetur cumque ratione quibusdam incidunt expedita ad placeat ab quas!
      Ut hic facere earum dolorem minus doloremque, dolor non dicta!</p>

      </div>

    {%endblock%}